<h1 class="mt-3">Questions of {{ title }}</h1>

<div class="row">
  <div class="col-md-12">
    <div class="container text-center">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="'/admin/add-question/' + qId"
      >
        Add Question
      </button>
    </div>
    <mat-card *ngFor="let q of questions; let i = index" class="mt-3">
      <mat-card-content>
        <b>Q.{{ i + 1 }})</b
        ><span class="ms-2" [innerHTML]="q.content" class="d-inline"></span>

        <div class="container-fluid mt-2">
          <div class="row">
            <div class="col-md-6">
              <p class="ps-2">
                a) <span class="ps-2"> {{ q.option1 }}</span>
              </p>
            </div>
            <div class="col-md-6">
              <p class="ps-2">
                b) <span class="ps-2"> {{ q.option2 }}</span>
              </p>
            </div>
            <div class="col-md-6">
              <p class="ps-2">
                c) <span class="ps-2"> {{ q.option3 }}</span>
              </p>
            </div>
            <div class="col-md-6">
              <p class="ps-2">
                d) <span class="ps-2"> {{ q.option4 }}</span>
              </p>
            </div>
          </div>
          <mat-divider></mat-divider>
          <p class="mt-2">
            <b>Correct answer: </b>
            {{ q.answer }}
          </p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          (click)="deleteQuestion(q.quesId)"
          mat-raised-button
          color="warn"
        >
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
