.profile-image{
  max-width: 170px;
  max-height: 170px;
  border-radius: 50%;
  border: 3px solid black;
}
.profile-table{
}
.profile-table tr td{
  padding: 15px 10px;
  border: 0.5px solid #e2e2e2;
}