<mat-card>
  <mat-action-list>
    <div mat-subheader><h2>Menu</h2></div>

    <button mat-list-item routerLink="/admin/profile">
      <mat-icon mat-list-icon>person</mat-icon> Profile
    </button>
    <button mat-list-item routerLink="/admin/categories">
      <mat-icon mat-list-icon>list</mat-icon> Categories
    </button>
    <button mat-list-item routerLink="/admin/add-category">
      <mat-icon mat-list-icon>add_circle_outline</mat-icon> Add Category
    </button>
    <button mat-list-item routerLink="/admin/quizzes">
      <mat-icon mat-list-icon>quiz</mat-icon> Quizzes
    </button>
    <button mat-list-item routerLink="/admin/add-quiz">
      <mat-icon mat-list-icon>add</mat-icon> Quiz
    </button>
  </mat-action-list>
</mat-card>
